<footer class="footer">
    <button mat-flat-button class="counter">1 item left</button>
    <div class="options">
        <section>
            <div class="example-button-row">
                <a mat-stroked-button href="#" target="_blank">All</a>
                <a mat-stroked-button href="#" target="_blank">Active</a>
                <a mat-stroked-button href="#" target="_blank">Link</a>
            </div>
        </section>
    </div>
    <mat-button-toggle value="underline" class="clear-completed">Clear completed</mat-button-toggle>
</footer>